.body-game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.btn-close-obj {
  width: 100%;
}

.textoFeedbackFinal {
  font-size: 23px;
  background-color: white;
  padding: 20px;
  margin-inline: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content {
  background-color: #daf2f200;
  border: none;
}

.modal-header-jogo {
  padding: 10px;
  background: linear-gradient(to right, rgb(23, 105, 173), rgb(243, 43, 127));
  height: 100px;
  border-radius: 10px;
}

.body-modal-introducao {
  background-color: #F1F9FA;
  width: auto;
  height: 350px;
  border-radius: 10px;
}

.body-modal-jogo {
  background-color: #F1F9FA;
  width: auto;
  height: 200px;
  border-radius: 10px;
}

.div-resposta {
  position: absolute;
}

.p-resposta {
  background-color: #BF3475;
  width: 370px;
  height: 100px;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  font-size: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.areaRepostas.position-absolute {
  top: 40px;
}

.img-doc-final {
  top: 50px;
  position: absolute;
  left: 350px;
}

#zonaDeSoltar {
  background-image: url(../img/pasta_vazia.png);
  background-repeat: no-repeat;
  width: 305px;
  height: 253px;
  top: 820px;
  right: 45px;
}

/*****************************************************************/
/******************* posição dos documentos**********************/
/***************************************************************/

.doc1 {
  top: 43px;
  left: 52px;
  transform: rotate(-3deg);
}

.doc2 {
  top: 287px;
  left: 52px;
  transform: rotate(3deg);
}

.doc3 {
  top: 476px;
  left: 52px;
  transform: rotate(-3deg);
}

.doc4 {
  top: 690px;
  left: 52px;
  transform: rotate(-3deg);
}

.doc5 {
  top: 872px;
  left: 52px;
  transform: rotate(3deg);
}

.doc6 {
  top: 43px;
  left: 282px;
  transform: rotate(-3deg);
}

.doc7 {
  top: 287px;
  left: 282px;
  transform: rotate(3deg);
}

.doc8 {
  top: 476px;
  left: 282px;
  transform: rotate(-3deg);
}

.doc9 {
  top: 690px;
  left: 282px;
  transform: rotate(3deg);
}

.doc10 {
  top: 872px;
  left: 282px;
  transform: rotate(-3deg);
}

.doc11 {
  top: 43px;
  left: 492px;
  transform: rotate(3deg);
}

.doc12 {
  top: 287px;
  left: 492px;
  transform: rotate(-3deg);
}

.doc13 {
  top: 476px;
  left: 492px;
  transform: rotate(3deg);
}

.doc14 {
  top: 195px;
  left: 694px;
  transform: rotate(-3deg);
}

.doc15 {
  top: 510px;
  left: 688px;
  transform: rotate(3deg);
}


.res-1 {
  top: 353px;
  left: 52px;
}

.res-2 {
  top: 487px;
  left: 52px;
}

.res-3 {
  top: 620px;
  left: 52px;
}

.res-4 {
  top: 750px;
  left: 52px;
}

.res-5 {
  top: 872px;
  left: 52px;

}

.res-6 {
  top: 353px;
  left: 480px;
}

.res-7 {
  top: 487px;
  left: 480px;

}

.res-8 {
  top: 620px;
  left: 480px;
}

.res-9 {
  top: 750px;
  left: 480px;

}

.res-10 {
  top: 872px;
  left: 480px;
}


/**********************************************************/
/******************* vire o celular ***********************/
/**********************************************************/

/*

.p-paisagem {
  color: white;
  text-align: center;
}

.img-paisagem {
  max-width: 70% !important;
  height: auto;
  display: block;
}

.modo-smart {
  display: none;
}

@media only screen and (orientation: portrait) {
  .modo-smart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5b2885;
    z-index: 9999999999999999999;
  }
}

.conteudo {
  width: 1920px;
  height: 1080px;
  position: fixed;
  left: calc(50% - 1920px / 2);
  top: calc(50% - 1080px / 2);
  margin: auto;
  overflow: hidden;
} */