.body-game {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.textoFeedbackFinal {
  font-size: 23px;
  background-color: white;
  padding: 20px;
  margin-inline: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content {
  background-color: #daf2f200;
  border: none;
}

.modal-header-jogo {
  padding: 10px;
  background: linear-gradient(to right, rgb(23, 105, 173), rgb(243, 43, 127));
  height: 100px;
  border-radius: 10px;
  position: relative;
}

.body-modal-introducao {
  background-color: #f1f9fa;
  width: auto;
  height: 324.4px;
  border-radius: 10px;
}

.body-modal-jogo {
  background-color: #f1f9fa;
  width: auto;
  height: 231.1px;
  border-radius: 10px;
}

.div-resposta {
  position: absolute;
}

.p-resposta {
  background-color: #bf3475;
  width: 303.9px;
  height: 94.8px;
  text-align: center;
  align-content: center;
  padding: 5px;
  color: white;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.area-respostas.position-absolute {
  top: 54.6px;
  left: 506.6px;
}

.area-repostas-mobile {
  background-color: #c0a379;
  padding: 13px;
}

.img-doc-final {
  top: 50px;
  position: absolute;
  left: 263px;
}

.zona-soltar-responsiva {
  width: 332.8px;
  height: 285.4px;
  top: 506.7px;
  right: 542.9px;
}

.btn-seta {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.btn-seta:hover {
  transform: scale(0.8);
}

.btn-voltar {
  top: 354.9px;
  left: 619px;
}

.btn-avancar {
  top: 354.9px;
  left: 1247.6px;
}

/*****************************************************************/
/******************* posição dos documentos**********************/
/***************************************************************/

.doc1 {
  top: 215.8px;
  left: 597.3px;
}

.doc2 {
  top: 223.6px;
  left: 901.8px;
}

.doc3 {
  top: 494.8px;
  left: 467.1px;
}

.doc4 {
  top: 519.5px;
  left: 745px;
}

.doc5 {
  top: 207.4px;
  left: 1205.3px;
}

.doc6 {
  top: 215.8px;
  left: 597.3px;
}

.doc7 {
  top: 223.6px;
  left: 901.8px;
}

.doc8 {
  top: 494.8px;
  left: 467.1px;
}

.doc9 {
  top: 519.5px;
  left: 745px;
}

.doc10 {
  top: 207.4px;
  left: 1205.3px;
}

.doc11 {
  top: 215.8px;
  left: 597.3px;
}

.doc12 {
  top: 223.6px;
  left: 901.8px;
}

.doc13 {
  top: 494.8px;
  left: 467.1px;
}

.doc14 {
  top: 519.5px;
  left: 745px;
}

.doc15 {
  top: 207.4px;
  left: 1205.3px;
}

.res-1 {
  top: 353px;
  left: -138.7px;
}

.res-2 {
  top: 353px;
  left: 226.9px;
}

.res-3 {
  left: 596.7px;
  top: 353px;
}

.res-4 {
  top: 486.6px;
  left: -138.7px;
}

.res-5 {
  top: 486.6px;
  left: 226.9px;
}

.res-6 {
  left: 596.7px;
  top: 486.6px;
}

.res-7 {
  top: 617px;
  left: -138.7px;
}

.res-8 {
  top: 617px;
  left: 226.9px;
}

.res-9 {
  top: 617px;
  left: 596.7px;
}

.res-10 {
  top: 746.2px;
  left: 226.9px;
}

.btn-close-obj {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 0;
}

.img-btn-fechar.fluid-img {
  width: 185.8px;
}

.modal-intro-dialog {
  max-width: 750px;
}
.modal-feedback-dialog {
  max-width: 500px;
}
.modal-fim-dialog {
  max-width: 650px;
}

.animando-sumir {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.5s ease-in-out;
}

.animando-aparecer {
  opacity: 0;
  transform: translateX(30px);
  transition: none;
}

.animando-aparecer.ativo {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

/**********************************************************************/
/***************************** vire o celular *************************/
/**********************************************************************/

.p-paisagem {
  color: #ffff;
  text-align: center;
}

.img-paisagem {
  max-width: 70% !important;
  height: auto;
  display: block;
}

@media only screen and (orientation: portrait) {
  .modo-smart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b73061;
    z-index: 9999999999999999999;
  }
}

/**********************************************************************/
/***************************** responsiva *****************************/
/**********************************************************************/

@media (max-width: 959px) and (min-width: 480px) {
  .area-respostas.position-absolute {
    top: 20px;
    left: 10px;
  }

  .img-doc-final {
    top: -4px;
    left: 277.7px;
    width: 144.1px;
  }

  .p-resposta {
    background-color: #bf3475;
    width: 140px;
    height: 103.4px;
    text-align: center;
    align-content: center;
    padding: 1%;
    color: white;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }

  .zona-soltar-responsiva {
    width: 154.2px;
    height: 395.6px;
    top: 221.8px;
    right: 140px;
  }

  .doc1 {
    top: 50.2px;
    left: 141.2px;
    width: 145.3px;
  }

  .doc2 {
    top: 48.9px;
    left: 304.1px;
    width: 142.2px;
  }

  .doc3 {
    top: 67px;
    left: 471.4px;
    width: 121.5px;
  }

  .doc4 {
    top: 206.6px;
    left: 301.6px;
    width: 119.7px;
  }

  .doc5 {
    top: 211.2px;
    left: 141.2px;
    width: 119.7px;
  }

  .doc6 {
    top: 57.6px;
    left: 131.3px;
    width: 126.8px;
  }

  .doc7 {
    top: 48.9px;
    left: 304.1px;
    width: 123.5px;
  }

  .doc8 {
    top: 67px;
    left: 471.4px;
    width: 124.2px;
  }

  .doc9 {
    top: 206.6px;
    left: 301.6px;
    width: 124.9px;
  }

  .doc10 {
    top: 211.2px;
    left: 100.4px;
    width: 137.2px;
  }

  .doc11 {
    top: 57.2px;
    left: 141.2px;
    width: 120.2px;
  }

  .doc12 {
    top: 48.9px;
    left: 304.1px;
    width: 123.7px;
  }

  .doc13 {
    top: 67px;
    left: 471.4px;
    width: 141.5px;
  }
  .doc14 {
    top: 206.6px;
    left: 301.6px;
    width: 119.7px;
  }

  .doc15 {
    top: 211.2px;
    left: 141.2px;
    width: 119.7px;
  }

  .res-1 {
    top: 117px;
    left: 5px;
  }

  .res-2 {
    top: 117px;
    left: 154.3px;
  }

  .res-3 {
    left: 300.1px;
    top: 117px;
  }

  .res-4 {
    top: 117px;
    left: 448.2px;
  }

  .res-5 {
    top: 117px;
    left: 594.6px;
  }

  .res-6 {
    left: 6.1px;
    top: 225.6px;
  }

  .res-7 {
    top: 225.6px;
    left: 154.3px;
  }

  .res-8 {
    left: 300.1px;
    top: 225.6px;
  }

  .res-9 {
    top: 225.6px;
    left: 448.2px;
  }

  .res-10 {
    top: 225.6px;
    left: 594.6px;
  }
}

@media (max-width: 1279px) and (min-width: 960px) {
  .area-respostas.position-absolute {
    top: 20px;
    left: 10px;
  }

  .img-doc-final {
    top: 33.3px;
    left: 424.1px;
    width: 191.8px;
  }

  .p-resposta {
    background-color: #bf3475;
    width: 196.3px;
    height: 93.9px;
    text-align: center;
    align-content: center;
    padding: 1%;
    color: white;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }

  .zona-soltar-responsiva {
    width: 207.4px;
    height: 395.6px;
    top: 322.1px;
    right: 263.4px;
  }

  .doc1 {
    top: 111.1px;
    left: 201.7px;
    width: 174.6px;
  }

  .doc2 {
    top: 92.9px;
    left: 387.4px;
    width: 166.2px;
  }

  .doc3 {
    top: 108.5px;
    left: 568.3px;
    width: 146px;
  }

  .doc4 {
    top: 325.7px;
    left: 415.9px;
    width: 149.7px;
  }

  .doc5 {
    top: 305.1px;
    left: 228.2px;
    width: 142px;
  }

  .doc6 {
    top: 111.1px;
    left: 201.7px;
    width: 149.1px;
  }

  .doc7 {
    top: 92.9px;
    left: 371.3px;
    width: 145px;
  }

  .doc8 {
    top: 108.5px;
    left: 568.3px;
    width: 152.2px;
  }

  .doc9 {
    top: 325.7px;
    left: 415.9px;
    width: 149.7px;
  }

  .doc10 {
    top: 305.1px;
    left: 228.2px;
    width: 162.8px;
  }

  .doc11 {
    top: 111.1px;
    left: 201.7px;
    width: 144.2px;
  }

  .doc12 {
    top: 92.9px;
    left: 371.3px;
    width: 145px;
  }

  .doc13 {
    top: 108.5px;
    left: 568.3px;
    width: 174.1px;
  }

  .doc14 {
    top: 325.7px;
    left: 415.9px;
    width: 141.2px;
  }

  .doc15 {
    top: 305.1px;
    left: 228.2px;
    width: 150.7px;
  }

  .res-1 {
    top: 216px;
    left: 10.8px;
  }

  .res-2 {
    top: 216px;
    left: 219.5px;
  }

  .res-3 {
    top: 216px;
    left: 429.3px;
  }

  .res-4 {
    top: 216px;
    left: 638.7px;
  }

  .res-5 {
    top: 216px;
    left: 848.4px;
  }

  .res-6 {
    left: 10.8px;
    top: 325.2px;
  }

  .res-7 {
    top: 325px;
    left: 219.5px;
  }

  .res-8 {
    top: 325px;
    left: 429.3px;
  }

  .res-9 {
    top: 325px;
    left: 638.7px;
  }

  .res-10 {
    top: 325px;
    left: 848.4px;
  }
}

@media (max-width: 1600px) and (min-width: 1280px) {
  .area-respostas.position-absolute {
    top: 20px;
    left: 10px;
  }

  .img-doc-final {
    top: 129.6px;
    left: 544.7px;
    width: 250.3px;
  }

  .p-resposta {
    background-color: #bf3475;
    width: 196.3px;
    height: 93.9px;
    text-align: center;
    align-content: center;
    padding: 1%;
    color: white;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }

  .zona-soltar-responsiva {
    width: 207.4px;
    height: 395.6px;
    top: 322.1px;
    right: 338.3px;
  }

  .doc1 {
    top: 107.6px;
    left: 339.8px;
    width: 161.6px;
  }

  .doc2 {
    top: 98.4px;
    left: 528px;
    width: 159.3px;
  }

  .doc3 {
    top: 111.9px;
    left: 751.6px;
    width: 139.7px;
  }

  .doc4 {
    top: 314.8px;
    left: 544.6px;
    width: 138.9px;
  }

  .doc5 {
    top: 300.9px;
    left: 343.5px;
    width: 137.4px;
  }

  .doc6 {
    top: 107.6px;
    left: 339.8px;
    width: 155.7px;
  }

  .doc7 {
    top: 98.4px;
    left: 528px;
    width: 148.8px;
  }

  .doc8 {
    top: 111.9px;
    left: 751.6px;
    width: 157px;
  }

  .doc9 {
    top: 314.8px;
    left: 544.6px;
    width: 152px;
  }

  .doc10 {
    top: 300.9px;
    left: 343.5px;
    width: 167.7px;
  }

  .doc11 {
    top: 107.6px;
    left: 339.8px;
    width: 147.1px;
  }

  .doc12 {
    top: 98.4px;
    left: 528px;
    width: 148.7px;
  }

  .doc13 {
    top: 111.9px;
    left: 751.6px;
    width: 171.8px;
  }

  .doc14 {
    top: 314.8px;
    left: 544.6px;
    width: 146.9px;
  }

  .doc15 {
    top: 300.9px;
    left: 343.5px;
    width: 150.2px;
  }

  .res-1 {
    top: 398px;
    left: 174.2px;
  }

  .res-2 {
    top: 398px;
    left: 386.3px;
  }

  .res-3 {
    top: 398px;
    left: 595.5px;
  }

  .res-4 {
    top: 398px;
    left: 805.8px;
  }

  .res-5 {
    top: 398px;
    left: 1016.7px;
  }

  .res-6 {
    left: 174.2px;
    top: 524px;
  }

  .res-7 {
    top: 524px;
    left: 386.3px;
  }
  .res-8 {
    top: 524px;
    left: 595.5px;
  }

  .res-9 {
    top: 524px;
    left: 805.8px;
  }

  .res-10 {
    top: 524px;
    left: 1016.7px;
  }
}
